header {
  /* display: flex;
  align-items: center; */
  /* justify-content: flex-end; */
  background-color: #ffffff;
  height: 100%;
  font-size: 15px;
  color: var(--text-gray-color);
  border-bottom-style: solid;
  border-width: 0.02em;
  border-color: #E4E8F0;
}

div li.dropdown{
  color: var(--text-gray-color);
  font-family: inherit;
}

.sectionProfile i.material-icons {
  margin: 0;
  color: var(--text-gray-color);
}

.material-icons.dropdown {
  margin-right: 0.5em;
}

.accountMenu {
  display: flex;
  align-items: center;
  margin-right: 2em;
  padding: 2px;
}
.userName {
  margin-right: 10px;
}

button.dropdown-icon {
  padding: 6px;
}

.accountMenu img {
  margin-right: 5px;
  height: 35px;
  width: 35px;
}

.sectionProfile {
  display: flex;
  align-items: center;
  margin-right: 2em;
}
