div.block {
    background-color: #fff6f6a3;
    border-radius: 10px;
    margin-top: 0.2em;
}

.alertCircle {
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

.red {
    background-color: red;
}

.name {
    font-size: 1.3em;
}

.date {
    color: #A5A4BF;
}

.yellow {
    background-color: #FFFF00;
}

.grey {
    background-color: #A5A4BF;
}

.blue {
    background-color: blue;
}