h2 {
    font-weight: normal;
}

div.block {
    margin-top: 0;
}

div .block + .block {
    margin-top: 0.2em;
}

.alarmContainer {
    height: 75vh;
}

.alarmContainer .mainAlarms {
    height: 100%;
    overflow-y: scroll;
}

.secondAlarms {
    height: 100%;
}




.secondAlarms .missedAlarms {
    height: 45%;
    overflow: auto;
}

.secondAlarms .completedHeader {
    height: 10%;
}

.secondAlarms .completedAlarms {
    height: 45%;
    overflow: auto;
}

