
a {
  text-decoration: none;
}

li {
  list-style: none;
}



.navbar {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.navbar > li + li {
  margin-top: 0.7em;
}


.nav-container {
  background: white;
  width: 100%;
}

.NavText {
  color: #BFC5D2;
}

.NavElement{
  border-left-style: solid;
  border-width: 0.4em;
  border-color:#00ff0000;
  display: flex;
  padding: 5px;
}

.NavElement svg{
  height: 25px;
  width: 25px;
  left: 5px;
  padding: 1px;
  margin-left: 25px;
}

.NavElement.SelectedElement{
  border-color: #2E5BFF;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
}

.NavText{
  color: #BFC5D2;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  margin-left: 13px;
  margin-top: 5px;
}
.NavElement svg path {
  fill: #BFC5D2;
}

.SelectedElement.NavElement svg path{
  fill:#2E5BFF;
}

.SelectedElement > .NavText {
  color:#2E5BFF;
}
