  span.patientName {
    font-weight: bold;
    color: var(--main-container-text-color);
  }
  
  span.phoneNumber {
    color: var(--text-gray-color);
  }

  div.userBlock {
    height: 15%;
    flex-basis: calc(33.333333% - 36px);
    padding: 0;
    margin: 1.5em 1em;
    box-shadow: 0.7px 0.7px 3px 1px rgba(0, 0, 0, 0.1);
  }
  
  
  button.addQuestionnaire {
    color: var(--text-gray-color);
    text-transform: none;
  }


.userBlock .avatar svg {
  width: 60px;
  height: 60px;
}

    



