:root {
  --main-container-text-color: #43425D;
  --blue-button-bgcolor: rgba(46, 91, 255, 0.8);
  --blue-button-bgcolor-hover: rgba(39, 74, 197, 0.8);
  --main-blue-color: #2E5BFF;
  --text-gray-color: rgb(191, 197, 210);
  --main-font-Source: 'Source Sans Pro';
  box-sizing: border-box;
  background-color: #F5F5F5;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  height: 100%;
  font-family: var(--main-font-Source)
}

h1, h2 {
  font-family: var(--main-font-Source);
  color: var(--main-container-text-color);
  margin: 0;
}

#app {
  background-color: white;
  overflow-y: auto;
  height: 100%;
  display: grid;
  grid-template-areas: "logo header"
                       "nav content";
  grid-template-columns: 230px 3fr;
  grid-template-rows: 50px 11fr;
}

main {
  background-color: #f3f3f3;
  height: 100%;
  overflow-y: auto;
  grid-area: content;
  padding: 1rem 4rem;
  font-family: var(--main-font-Source)
}


div.accountMenu {
  grid-area: header;
  padding: 0;
}

.logo {
  grid-area: logo;
}

header {
  grid-area: header;
}

.nav-container {
  grid-area: nav;
}

.nav-container, .logo {
    border-right-style: solid;
    border-width: 0.01em;
    border-color: #E4E8F0;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-button {
  display: none;
}
