@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';



.PatientSideCalendar {
  font-family: 'Source-Sans-Pro', sans-serif;
  font-size: 14px;
  max-width: 1400px;
  margin:auto;
}
.fc-button:focus{
  outline: var(--main-blue-color) !important;
}
.fc-popover > .fc-header > .fc-title {
    margin: 5px;
}

.fc-event{
  padding: 0.4em;
  background: white;
  color: #4D4F5C;
  background-color: #EEF2FF;
  border-style: solid;
  border-width: 0px 0px 0px 3px;
  border-radius: 0px;
  font-size: 10px;
  position: relative;
  margin-top: 4px;
}
.fc-event.status2 {
  background-color: #b71845;
  border-color: #871233;
  color: white;
}
.fc-event.status4 {
  background-color: #BFC5D2;
  color: white;
  border-color: rgb(68, 68, 68);
}
.fc-event.status3 {
  background-color: #292477;
  color: white;
  border-color: #1b174f;
}
.fc-event.status1 {
  background-color: #3CB371;
  color: white;
  border-color: #2d8655;
}

.fc-content{
  display: flex;
  flex-flow: column nowrap;
}
.fc-event.fc-allow-mouse-resize{
  background-color: #EEF2FF;
  color: #4D4F5C;
  border-width: 0.5px 0.5px 0.5px 3px;
}
.fc-time{
  font-size: 8px;
}
.fc-title{
  font-size: 11px;
}

.fc-center{
  margin-right: 130px;

}
.fc-center h2{
  font-size: 16px;
}
.fc-event.visit{
  border-color: #FFA42E;
  background-color: #FFF8EE;
}
td.fc-day-top span {
  margin: 10px 10px !important;
  font-size: 11px;
}
td.fc-other-month{
  background: #F9F9FB;
}

th.fc-day-header.fc-widget-header {
  border-style: none;
}

th.fc-day-header.fc-widget-header span {
  color: #A3A6B4;
  font-size: 10px;
}


td,th{
  border-radius: 0px;
}
td.fc-head-container{
  border-bottom: 0px;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #EAF0F4;
  border-width: 0.02px;
}

td.fc-today {
  background: transparent !important;
  border-color: var(--main-blue-color);

  border-style: solid;
}

table {
  border-collapse: separate !important;
}

button.fc-prev-button {
    background-color: white;
    color: #4D4F5C;
    border-color: #D7DAE2;
}
button.fc-next-button {
    background-color: white;
    color: #4D4F5C;
    border-color: #D7DAE2;
}

.fc-today-button{
  background-color: white;
  color: #4D4F5C;
  border-color: #D7DAE2;
}

button:hover:enabled{
  border-color: var(--main-blue-color) !important;
  background: white !important;
  color: var(--main-blue-color) !important;
}
.fc-today-button:disabled{
  color: var(--main-blue-color);
  background: white;
  border-color: #D7DAE2;
  opacity: 1;
}
thead {
  border-radius: 2px 2px 0 0 !important;
  border-bottom-width: hidden !important;
}

th {
  background: #F5F6FA;
  padding: 12px !important;
  border-style: none;
}
