
div.datarow {
    margin: 1rem 0;
}

.chips {
    display: inline-flex;
    border: 1px solid gray;
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    overflow: initial;
}

button.saveBtn {
    width: 7em;
}
