

h1 {
  color: var(--main-container-text-color);
  font-weight: normal;
}

span i.material-icons {
  margin-right: 0.3em;
}


.patientlist-header {
  height: 5%;
}

.patientlist-header h1 {
  margin: 0;
}

.patientlist-buttons {
  height: 5%;
}

.patientList {
  overflow-y: auto;
  height: 100%;
  font-family: var(--main-font-Source);
  background-color: white;
}

button.addBtn {
  margin-right: 1em;
}
