.BigBlock.MuiGrid-item{
  margin: 15px 0px;
}
.SmallBlock.MuiGrid-item{
  margin: 10px 0px;
}
.SelectAlarm{
  margin:25px;
  min-width: 120px;
}
.questions{
  overflow-y: auto;
  width: 100%;
}
.questions::-webkit-scrollbar, .missedAlarms::-webkit-scrollbar, .completedAlarms::-webkit-scrollbar {
    width: 5px;
}

.questions::-webkit-scrollbar-thumb, .missedAlarms::-webkit-scrollbar-thumb, .completedAlarms::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.questions::-webkit-scrollbar:hover, .missedAlarms::-webkit-scrollbar:hover, .completedAlarms::-webkit-scrollbar:hover {
    background: #555;
}

.questions::-webkit-scrollbar-track, .missedAlarms::-webkit-scrollbar-track, .completedAlarms::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.questions::-webkit-scrollbar-button, .missedAlarms::-webkit-scrollbar-button, .completedAlarms::-webkit-scrollbar-button {
    display: none;
}

.circle{
   width: 15px;
   height: 15px;
   border-radius: 10px;
   background: red;
   margin:2px;
   display: inline-block;
}
.red{
  background: red;
}
.yellow{
  background: #ffbb00;
}
.RangeField.MuiFormControl-root {
  max-width: 60px;
  margin:0px 5px;
}

.TitleInput{
  border-width:0px 0px 1px 0px;
  min-width:50px;
}
.TitleInput:before{
  border-color: red;
}
.AnswerInput.MuiFormControl-root{
  min-width: 350px;
}
.TitleInput.Mui-selected { /* Increase the specificity */
  border-color: red;
}
.TitleInput2.Mui-focused{
  border-color:red;
}
#select-alarm{
  background: white;
}
